<ion-header>

  <ion-navbar>
    <ion-title>Orders</ion-title>

  </ion-navbar>

</ion-header>

<ion-content>

  <ion-list>
    <ion-item-sliding *ngFor="let item of (currentItems)?.results">
      <button ion-item (click)="openItem(item)">
        <h2>{{item.customer.name}}</h2>
        <p>{{item.customer.email_address}}</p>

        <ion-badge item-end color="info" *ngIf="item.status == 0">Pending</ion-badge>
        <ion-badge item-end color="primary" *ngIf="item.status == 1">In Process</ion-badge>
        <ion-badge item-end color="secondary" *ngIf="item.status == 2">Delivered</ion-badge>
      </button>
      <ion-item-options>
        <button ion-button color="danger" (click)="deleteItem(item)">
          {{ 'DELETE_BUTTON' | translate }}
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>